body {
  text-align: center;
  background-color: #091b2e;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.textDesign {
  font-family: 'Press Start 2P', cursive;
  font-size: 6rem;
  margin:  5%;
  color: #FEF2BF;
}

.paragrapDesign {
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: #FEF2BF;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;	
}

.btn {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: darkred;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.salmon {
  background-color: darksalmon;
}

.orange {
  background-color: orange; 
}

.purple {
  background-color: purple;
}

.pink {
  background-color: darkorchid; 
}

.brown {
  background-color: brown; 
}

.grey {
  background-color: grey; 
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
